
body{
    margin-top: 20px;
    background-image: url(img/background.jpg);
    background-repeat:none;
    background-position: center;
    background-size: cover;
    padding-top:80px;
    word-wrap:break-word;
    background-color:
}
img{
  height: 200px;
}
ul{
  list-style: none;
}
.square{
  height: 400px;
  width: 400px;
  border: 5px solid green;
  background-color: white;
}
li{
  margin: 0 0 8px 0;
  font-size: 30px;
}
li::first-letter {
  text-transform: capitalize;
}
.well{
  background-color: yellow;
}
